*{ 
    margin: 0px;
    padding: 0px;
}
    
 


.main{
    height: 65px;
    width: auto;
    background: #000000da;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    

.hahah{
    width: 90px;
    height: 60px;
    
}
.logo{
    width: 85px;
    height: 58px;
    background-image: url(Amazon_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    
}
.text_main{
    height: 58px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delivery{
    text-transform: capitalize;
    color: lightgray;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;


}
.fa-solid{
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 17px;
    text-align: start;
    font-weight: 650;
}
#choise{
    height: 30px;
    border: none;
    border-color: none;
    font-size: 10px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
select>option{
    background: #000000da;
    color: wheat;
    font-size: 12px;
    font-weight: 550;
    text-align: start;
    

}
/* yaahan pay is ki maim search waliclass aay gi*/

.combain{
    display: flex;
    align-items: center;
}
input{
    height:20px ;
    width: 400px;
    border: none;
    padding: 5px;

}
button{
    height: 30px;
    width: 80px;
    background: rgba(255, 166, 0, 0.767);
    border: none;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#language{
    width: 47px;
    background:#1a1919b7;
    color: whitesmoke;
    height: 25px;
    
}
.main_link{
    height: 58px;
    width: 120px;
    color: whitesmoke;
    display: flex;
    align-items: center;

}
.second{
    text-transform: capitalize;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 650;
    text-decoration: none;


}
.in{
    color: lightgray;
    font-size: 15px;
    font-weight: 500;
    text-align: center;

}
.signlink{
    text-align: center;
    color: whitesmoke;
    text-transform: capitalize;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 650;
    text-decoration: none;
    
}
.jaja{
    text-align: center;
}
.order{
    height: 58px;
    width: 80px;
    color: whitesmoke;
    display: flex;
    align-items: center;  
    justify-content: center;

}
.cart{
    height: 58px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fa-cart-shopping{
    font-size: 50px;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.likh{
    display: inline;
}
.tokri{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;

}
.border:hover{
    border: 1px solid whitesmoke;
}
/* This is code which is written for animation
*/
@keyframes rotate{
    from{
        transform: rotateY(0deg);
        /*transform: scale(0.5,0.5);*/
    }
    to{ 
        transform: rotateY(360deg);
        /*transform: scale(1,1);*/
    }
}
/*This is for second nav bar*/
.bar{
    height: 40px;
    width: outo;
    background: #222f3d;
    display: flex;
    align-items: center;
    
}

.menu{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.usa{
    margin-left: 10px;
}
.hay{
   
    height: 36px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center
}
.menu_bar{
    
    height: 35px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 


}
.fa-bars{
    margin-right: 5px;
    font-size: 20px;
    
}
.all{
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
}
.customer{
    
    height: 35px;
    width: 120px;
    
}
.registry{
    margin-left: 20px;
    height: 34px;
    width: 50px;
    
}
.sell{
    margin-left: -60px;
    width: 40px;
}
.deal{
    width: 80px;
}
/* Nav bar copmlete ho gya hay*/
.hero{
    
    height: 600px;
   width: 100%;
    background-position: center;
    background-image: url(saveker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
    

}
.text_panel{
    width:760px ;
    height: 35px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
    left: 20%;
    border: none;
    
}
#usman{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    
}
.section{
            
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    top: 450px;

}
.container{
    margin-top: 10px;
    height: 420px;
    width:100% ;
    
    display: flex;
    align-items: center;
    justify-content: center;



}
.container1{
    margin-top: 20px;
    height: 420px;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2{
    margin-top: 20px;
    height: 420px;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3{
    margin-top: 20px;
    height: 420px;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer{ 

height: 360px;
width: 310px;
display: flex;
align-items: center;
justify-content: center;
}
.box{
text-align: center;
margin: 10px;
margin-right: 10px;
margin-left: 10px;
background: whitesmoke;
height: 410px; 
width: 300px;
padding: 5px;



}
.box1{
margin-left: 10px;

}
        #backimage{
        height: 360px;
        width: 300px;
        overflow: hidden;
        background-image: url(computer.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;



        }
            #backimage2{
            height: 360px;
            width: 300px;
            overflow: hidden;
            background-image: url("image.jpg");
            background-size: cover;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-position: center; 

            }
                #backimage3{
                height: 360px;
                width: 300px;
                overflow: hidden;
                background-image: url("image1.jpg");
                background-size: cover;
                background-attachment: scroll;
                background-repeat: no-repeat;
                background-position: center;

                }
                    #backimage4{
                    height: 360px;
                    width: 300px;
                    overflow: hidden;
                    background-image: url(image2.jpg);
                    background-size: cover;
                    background-attachment: scroll;
                    background-repeat: no-repeat;
                    background-position: center;
                    }
                        #backimage5{
                        height: 360px;
                        width: 300px;
                        overflow: hidden;
                        background-image: url(image4.jpg);
                        background-size: cover;
                        background-attachment: scroll;
                        background-repeat: no-repeat;
                        background-position: center left;
                        }
                            #backimage6{
                            height: 360px;
                            width: 300px;
                            overflow: hidden;
                            background-image: url(image5.jpg);
                            background-size: cover;
                            background-attachment: scroll;
                            background-repeat: no-repeat;
                            background-position: center;
                            }
                                #backimage7{
                                height: 360px;
                                width: 300px;
                                overflow: hidden;
                                background-image: url(image7.jpg);
                                background-size: cover;
                                background-attachment: scroll;
                                background-repeat: no-repeat;
                                background-position: center;
                                }
                                        #backimage8{
                                        height: 360px;
                                        width: 300px;
                                        overflow: hidden;
                                        background-image: url(imag6.jpg);
                                        background-size: cover;
                                        background-attachment: scroll;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        }
        #backimage9{
            height: 360px;
            width: 300px;
            overflow: hidden;
            background-image: url(image9.jpg);
            background-size: cover;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-position: center;  
            }
            #backimage10{
                height: 360px;
                width: 300px;
                overflow: hidden;
                background-image: url(image10.jpg);
                background-size: cover;
                background-attachment: scroll;
                background-repeat: no-repeat;
                background-position: center;  
                }
                #backimage11{
                    height: 360px;
                    width: 280px;
                    overflow: hidden;
                    background-image: url(image11.jpg);
                    background-size: cover;
                    background-attachment: scroll;
                    background-repeat: no-repeat;
                    background-position: center;
                    }
                    #backimage12{
                        height: 360px;
                        width: 280px;
                        overflow: hidden;
                        background-image: url(image12.jpg);
                        background-size: cover;
                        background-attachment: scroll;
                        background-repeat: no-repeat;
                        background-position: center;
                        }

                        #backimage13{
                            height: 360px;
                            width: 300px;
                            overflow: hidden;
                            background-image: url(image13.jpg);
                            background-size: cover;
                            background-attachment: scroll;
                            background-repeat: no-repeat;
                            background-position: center;  
                            }
                            #backimage14{
                                height: 360px;
                                width: 300px;
                                overflow: hidden;
                                background-image: url(image14.jpg);
                                background-size: cover;
                                background-attachment: scroll;
                                background-repeat: no-repeat;
                                background-position: center;  
                                }
                                #backimage15{
                                    height: 360px;
                                    width: 280px;
                                    overflow: hidden;
                                    background-image: url(image15.jpg);
                                    background-size: cover;
                                    background-attachment: scroll;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    }
                                    #backimage16{
                                        height: 360px;
                                        width: 280px;
                                        overflow: hidden;
                                        background-image: url(image16.jpg);
                                        background-size: cover;
                                        background-attachment: scroll;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        }
.color{
    height: 250px;
    width: auto;
    
        background-image: linear-gradient(to bottom, rgba(0, 0, 128, 0.8) 40%,white);

}

::-webkit-scrollbar{
    height: 10px;
}

::-webkit-scrollbar-track{
    
    background-color: black;
}
::-webkit-scrollbar-thumb{
    height: 9px;
    width: 3px;
    background-image: linear-gradient(to top, purple,rgba(255, 0, 0, 0.911),blue);
    border-radius: 10px;

}
.contant{
    font-size: 20px;
    font-weight: 800;

    padding-top: 20px;
    color: whitesmoke;
    text-align: center;
    height: 45px;
    width: 100%;
    position: relative;
    top: 1230px;
    background: black;
}

.footer{
    position: relative;
    top: 1230px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.sab{
   
    height: 100px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    
}
.contat{
    text-align: center;
    height: 20px;
    margin-top: 5px;
 color: whitesmoke;
 font-size: 12px;
 font-weight: 600;
 text-decoration: none;
 text-transform: capitalize;
}